.title{
    background-color: #fff;
    font-family: 'News Cycle-Bold', sans-serif;
    font-size: 2.5rem;
    line-height: 1;
    color: black;
    margin-bottom: 2px;
    
}

.brand-bar-custom{
    padding-bottom: 0;
    text-align: center;
}


.button-bar-custom{
    padding-top: 0;
    padding-bottom: 0;
}

.search-bar{
    position: absolute;
    right: 10px;
}
.menu-bar{
    background-color: #d5caba;
    margin-top: 5px;
}

.nav-item{
    margin-right: 3rem;
}

.menu-bar-links{
    font-family: 'News Cycle-Bold', sans-serif;
    font-size: 18px;
    color: black;
}

.advertise-bar{
    margin: 1% 0;
    display: inline-block;
}


.ad-image{
    width: 100%;
    height: 100%;
}

.product-section{
    text-align: center;
    margin-bottom: 1rem;
}
.product-bar{
    margin: 1% 1px;
    
}

.card-deck{
    margin: 1% 0;
}

.product-image{
    width: 100%;
    height: 15vw;
}

.footer-section{
    background-color: black;
    text-align: left;
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.footer-anchor{
    color: white;
}
